convert a Panda Series to Python list and vice versa

In [ ]:
import pandas as pd


A = [2, 4, 6, 8, 10]
B=pd.Series(A)
print("Python list to Panda series:")
print(B)
print(type(B))

C=B.tolist()
print("Panda series to Python list:")
print(C)
print(type(C))

Python list to Panda series:
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Panda series to Python list:
[2, 4, 6, 8, 10]
<class 'list'>

Extract a series based on some condition from a given series
for example extract all numbers less than 30

In [ ]:
A = pd.Series(x for x in range(25,35))
print("Original Series:",A)
B = A[A<30]
print("After Extraction:",B)

Original Series: 0    25
1    26
2    27
3    28
4    29
5    30
6    31
7    32
8    33
9    34
dtype: int64
After Extraction: 0    25
1    26
2    27
3    28
4    29
dtype: int64

find the positions of numbers that are multiples of 3 of a given series.

In [ ]:
A = pd.Series(x for x in range(20,40))
print("A:",A)
B=A.loc[A%3==0].index
print("Index of multiples of 3:")
print(B)

A: 0     20
1     21
2     22
3     23
4     24
5     25
6     26
7     27
8     28
9     29
10    30
11    31
12    32
13    33
14    34
15    35
16    36
17    37
18    38
19    39
dtype: int64
Index of multiples of 3:
Int64Index([1, 4, 7, 10, 13, 16, 19], dtype='int64')

given two series consisting of some commom items, extract items belonging to first series but not in series

In [ ]:
A = pd.Series(x for x in range(10,20))
B = pd.Series(x for x in range(15,25))
print("Common nos. that are in A but not in B : ")
A[~A.isin(B)]

Common nos. that are in A but not in B :

0    10
1    11
2    12
3    13
4    14
dtype: int64

Compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [ ]:
import numpy as np
A = pd.Series(x for x in range(20,40))
print("Minimum:", np.percentile(A,0))
print("25th percentile:",np.percentile(A,25))
print("Median:",np.percentile(A,50))
print("75th percentile:",np.percentile(A,75))
print("Maximum:",np.percentile(A,100))

Minimum: 20.0
25th percentile: 24.75
Median: 29.5
75th percentile: 34.25
Maximum: 39.0

calculate the frequency counts of each unique value of a given series.

In [ ]:
A=pd.Series(np.random.randint(1,9,size=15))
print("A:",A)
print("Frequency count:")
print(A.value_counts())

A: 0     1
1     5
2     7
3     2
4     7
5     7
6     2
7     2
8     8
9     6
10    5
11    7
12    5
13    4
14    2
dtype: int64
Frequency count:
7    4
2    4
5    3
8    1
6    1
4    1
1    1
dtype: int64

Convert a given column(taken as input from user) of a DataFrame to a Series.

In [ ]:
data = {"FCB":[100,20,300,30],
        "PSG":[39,49,58,59],
        "BSV":[23,45,34,100]
        }

A = pd.DataFrame(data)
print("Column options : ", A.columns)
col = input("Enter the column name you want to convert to Series : ")
B = A[col]
print(B)
print(type(B))

Column options :  Index(['FCB', 'PSG', 'BSV'], dtype='object')
Enter the columns you want to convert to Series : FCB
0    100
1     20
2    300
3     30
Name: FCB, dtype: int64
<class 'pandas.core.series.Series'>

Given a Series of lists convert it to one Series.

In [ ]:

A=pd.Series([[100,20,300,30],[39,49,58,59],[23,45,34,100]])
print("Series of lists:")
print(A)
print("In one series:")
print(A.explode(ignore_index=True))

Series of lists:
0    [100, 20, 300, 30]
1      [39, 49, 58, 59]
2     [23, 45, 34, 100]
dtype: object
In one series:
0     100
1      20
2     300
3      30
4      39
5      49
6      58
7      59
8      23
9      45
10     34
11    100
dtype: object

given a series consisting of numbers and strings. Add data to it

In [ ]:
A=pd.Series([1,32,3,4,3,'a','g','d','h'])
print("A:",A)
x=eval(input("Enter list to be appended:"))
A=A.append(pd.Series(x),ignore_index=True)
print("After appending:",A)

A: 0     1
1    32
2     3
3     4
4     3
5     a
6     g
7     d
8     h
dtype: object
Enter list to be appended:2,'d','j',5,6
After appending: 0      1
1     32
2      3
3      4
4      3
5      a
6      g
7      d
8      h
9      2
10     d
11     j
12     5
13     6
dtype: object